@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  height: 100vh;
  background-image: url("../../assets/Bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  width: 70vw;
  max-width: 1200px;
  height: 90vh;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
  filter: blur(0px);
  backdrop-filter: blur(3px);
  font-family: "Sarabun", sans-serif;
}
@media only screen and (max-height: 915px) and (max-width: 1024px) {
  .weather {
    height: 70vh;
  }
}
.weather__search {
  width: 100%;
  height: 10%;
  padding: 2vw 2vw;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .weather__search {
    padding: 1.5vw 2.5vw;
  }
}
.weather__search-input {
  width: 92%;
  outline: none;
  background-color: inherit;
  border: 0;
  font-family: "Sarabun", sans-serif;
  font-size: 2.3vw;
  font-weight: 400;
  color: #1b1b1b;
  padding-left: 6px;
}
.weather__search-input::placeholder {
  color: #444444;
}
.weather__search-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: inherit;
  background-image: url("../../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.weather__search-btn:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .weather__search-btn {
    width: 20px;
    height: 20px;
    background-size: cover;
  }
}
@media only screen and (max-width: 428px) {
  .weather__search-btn {
    width: 16px;
    height: 16px;
    background-size: cover;
  }
}
.weather__container {
  display: flex;
  justify-content: space-between;
  height: 90%;
}
.weather__tabs {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather .active {
  display: flex;
}
.weather__tab {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw 1.8vw;
  overflow: hidden;
}
@media only screen and (max-width: 428px) {
  .weather__tab {
    padding: 4vw 4vw;
  }
}
.weather__tab-temperature {
  font-size: 6vw;
  line-height: 5vw;
  font-weight: 500;
}
.weather__tab-icon {
  width: 100%;
}
.weather__tab-icon-img {
  max-width: 100%;
  max-height: 30vh;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.weather__tab-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather__tab-city-name {
  font-size: 3vw;
}
.weather__tab-city-like {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.weather__tab-title {
  font-size: 3vw;
}
.weather__tab-now {
  display: none;
}
.weather__tab-details {
  display: none;
}
.weather__tab-forecast {
  display: none;
}
.weather__navigation {
  height: 15%;
}
.weather__navigation .tabs__items {
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
}
.weather__navigation .tabs__items .tabs__item {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  font-size: 2.3vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease-out 0.1s;
}
.weather__navigation .tabs__items .tabs__item::after {
  height: 2px;
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  left: 1.7vw;
  bottom: 1vw;
  transform: scaleX(0);
  transition: 0.3s;
}
@media only screen and (max-width: 428px) {
  .weather__navigation .tabs__items .tabs__item::after {
    left: 1.8vw;
    bottom: 3.5vw;
  }
}
.weather__navigation .tabs__items .tabs__item:hover::after {
  transform: scaleX(1);
}
@media only screen and (max-width: 428px) {
  .weather__navigation .tabs__items .tabs__item {
    font-size: 3vw;
  }
}
.weather__navigation .tabs__items .tabs__item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
  font-weight: 500;
}
.weather__navigation .tabs__items .tabs__item:first-child {
  border-bottom-left-radius: 20px;
}
.weather__navigation .tabs__items .tabs__item:last-child {
  border: 0;
}
.weather__locations {
  width: 45%;
  padding: 1.5vw 1vw;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.weather__locations-add {
  font-size: 3vw;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.weather__locations-save {
  padding-top: 1.5vw;
  overflow: auto;
  max-height: 80%;
}
.weather__locations-save .locations-list {
  padding: 0;
  list-style: none;
}
.weather__locations-save .locations-list__item {
  margin-bottom: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2vw;
  cursor: pointer;
}
.weather__locations-save .locations-list__item-btn {
  background-image: url("../../assets/icons/close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  border: 0;
  height: 1.7vw;
  width: 1.7vw;
  padding: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  transform: scale(0);
  cursor: pointer;
}
.weather__locations-save .locations-list__item:hover {
  font-weight: 500;
}
.weather__locations-save .locations-list__item:hover .locations-list__item-btn {
  transition: all 0.1s ease-in-out;
  transform: scale(1);
  visibility: visible;
}

.preloader {
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.preloader img {
  width: 6vw;
}

/*# sourceMappingURL=index.css.map */
