@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  height: 100vh;
  background-image: url("../../assets/Bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  width: 60vw;
  // min-height: 70%;
  // max-height: 70%;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
  filter: blur(0px);
  backdrop-filter: blur(3px);
  font-family: 'Sarabun', sans-serif;
  &__search {
    width: 100%;
    padding: 7px 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    &-input {
      width: 92%;
      outline: none;
      background-color: inherit;
      border: 0;
      font-family: 'Sarabun', sans-serif;
      font-size: 2.3vw;
      font-weight: 400;
      color: #1b1b1b;
      padding-left: 6px;
        &::placeholder {
          color: #444444;
        }
    }
    &-btn {
      width: 30px;
      height: 30px;
      border: none;
      background-color: inherit;
      background-image: url("../../assets/icons/search.svg");
      background-repeat: no-repeat;
      background-position: center;
      padding: 0;
      margin: 0 auto;
      cursor: pointer;
      transition: all 0.1s ease-in;
        &:hover {
          transform: scale(1.1);
          transition: all 0.1s ease-in-out;
        }
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__tabs {
    position: relative;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .active{
    display: flex;
  }
  &__tab {
    flex-direction: column;
    justify-content: space-between;
    // border-right: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1.5vw 1vw;
    &-temperature {
      font-size: 6vw;
      line-height: 5vw;
      font-weight: 500;
    }
    &-icon {
      &-img {
        max-width: 100%;
      }
    }
    &-city {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-city-name {
      font-size: 3vw;
    }
    &-city-like {
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
    &-title {
      font-size: 3vw;
    }
  }
  &__tab-now {
    display: none;
  }
  &__tab-details {
    display: none;
  }
  &__tab-forecast {
    display: none;
  }
  &__navigation {
    .tabs__items {
      display: flex;
      justify-content: space-between;
      list-style: none;
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      padding: 0;
      .tabs__item {
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        padding: 1.5vw 1.1vw;
        width: 33.3%;
        font-size: 2.3vw;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: .3s ease-out .1s;
        &::after {
          height: 2px;
          width: 80%;
          background: rgba(0, 0, 0, 0.5);
          content: "";
          position: absolute;
          left: 1.2vw;
          bottom: 1vw;
          transform: scaleX(0);
          transition: .3s;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }
      .tabs__item.active {
        display: block;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
        font-weight: 500;
      }
      .tabs__item:first-child {
        border-bottom-left-radius: 20px;
      }
      .tabs__item:last-child {
        border: 0;
      }
    }
  }
  &__locations {
    width: 45%;
    padding: 1.5vw 1vw;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    &-add {
      font-size: 3vw;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    &-save {
      padding-top: 1.5vw;
      overflow: auto;
      max-height: 80%;
      .locations-list {
        padding: 0;
        list-style: none;
        &__item {
          margin-bottom: 1vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 2.2vw;
          cursor: pointer;
          &-btn {
            background-image: url("../../assets/icons/close.svg");
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: cover;
            border: 0;
            height: 1.7vw;
            width: 1.7vw;
            padding: 0;
            visibility: hidden;
            transition: all 0.1s ease-in-out;
            transform: scale(0);
            cursor: pointer;
          }
          &:hover {
            font-weight: 500;
            .locations-list__item-btn {
              transition: all 0.1s ease-in-out;
              transform: scale(1);
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.preloader {
  position: absolute;
  // display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.preloader img {
  width: 6vw;
}